#container {
    width: 1200px;
    margin: 0 auto;
}
#header {
    width: 1200px;
}
#header_pic {
    width: 1200px;
    height: 200px;
    background: red;

}
#navigator {
    width: 1200px;
    /*height: 40px;*/
    height: 65px;
    background: white;
}
#welcome {
    width: 1200px;
    height: 30px;
    background: white;
}
#welcome span {
    font-size: 18px;
    margin-left: 20px;
    line-height: 30px;
    background: green;
}
#search {
    float: right;
    width: 250px;
    height: 30px;
    margin-right: 20px;
    background: green;
}
#content {
    width: 1200px;
    background: blue;
}
#image_roll {
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 500px;
    height: 300px;
    background: yellow;
}
#news_list {
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin-left: 6px;
    width: 690px;
    height: 300px;
    background: yellow;
}
#middle_links {
    margin-top: 10px;
    width: 1200px;
    height: 250px;
    background: green;
}
#middle_2 {
    margin: 0 auto 10px auto;
}

.content_block_1 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 390px;
    height: 200px;
    margin: 8px 3px 0 4px;
    background: yellow;
}
.block_1_header {
    width: 390px;
    height: 30px;
    background: red;
    text-align: left;
}
/*.block_1_content{*/
    /*height: 170px;*/
    /*width: 390px;*/
    /*background: yellow;*/
/*}*/
.Title_text {
    line-height: 30px;
    float: left;
}
.more {
    float: right;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
}
#middle_left {
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 790px;
    height: 400px;
    margin-right: 6px;
    background: green;
}
#middle_left #left_part, #middle_left #right_part {
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 390px;
    height: 390px;
    background:yellow;
    margin: 1px;
}
#middle_left .big_content {
    width: 390px;
    height: 190px;
    background: blue;
    margin: 2px 0;
}
#middle_left .small_content {
    width: 390px;
    height: 125px;
    background: blue;
    margin: 3px 0;
}
.content_header {
    width: 390px;
    height: 30px;
    background: red;
}
#middle_right {
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 400px;
    height: 400px;
    background: green;
}
#spec_info, #leader_mail, #branch_links {
    background: yellow;
    width: 400px;
    margin: 5px 0;
}
.right_header {
    width: 400px;
    height: 30px;
    background: red;
}
#spec_info {
    height: 150px;
}
#leader_mail {
    height: 80px;
    background: gray;
}
#branch_links {
    height: 150px;
}
#footer {
    width: 1200px;
    height: 120px;
    background: green;
    margin-top: 8px;
}