body {
    background-color: #ffffff;
    font-family: "Microsoft YaHei" !important;
    font-size: 18px;
    /*font-weight: bold;*/
}

/*body {*/
/*font: 18px Arial, Helvetica, sans-serif, 'Arial Narrow', HELVETICA;*/
/*}*/
.header .header_img {
    /*border: solid 1px red;*/
    height: 240px;
    width: 1280px;
    margin: 0px auto;
}

.header .navigator {
    /*border: solid 1px red;*/
    height: 60px;
    width: 1280px;
    background-color: #b6b6b6;
    margin: 10px auto;
}
.header .nav {
    /*border: solid 1px red;*/
    height: 60px;
    width: 1280px;
    background-color: #b6b6b6;
    margin: 10px auto;
}

.my_border {
    float: right;
    background-color: red;
    width: 76%;;
    height: 4px;
    margin-top: 7px;
}

.container .first_line {
    height: 350px;
    width: 1000px;
    /*border: solid 1px red;*/
    margin: 20px auto;
    background-color: red;
}

.container .second_line {
    height: 110px;
    width: 1000px;
    margin: 20px auto;
}

.container .middle_up_line, .container .middle_down_line {
    height: 240px;
    width: 1000px;
    margin: 20px auto;
    background-color: green;
}

.container .third_line, .container .fifth_line, .container .sixth_line {
    height: 240px;
    width: 1000px;
    /*border: solid 1px red;*/
    margin: 20px auto;
    background-color: forestgreen;
}

.container .some_links {
    height: 100px;
    width: 1000px;
    margin: 10px auto;
    background-color: red;
}

.footer {
    width: 1280px;
    height: 140px;
    /*border: solid 1px red;*/
    margin: 0px auto;
    background: #2C6787;
}

.container .first_line #img_roll {
    height: 330px;
    width: 480px;
    float: left;
    background-color: black;
    margin: 10px;
}

.container .first_line #multipage {
    height: 330px;
    width: 470px;
    float: right;
    background-color: firebrick;
    margin: 10px;
}

.container .middle_up_line #up_left, .container .middle_up_line #up_right, .container .middle_down_line #down_left, .container .middle_down_line #down_right {
    height: 220px;
    width: 480px;
    background-color: #000000;
    float: left;
    margin: 10px;
}

.container .third_line #third_left, .container .sixth_line #sixth_left {
    height: 220px;
    width: 600px;
    margin: 10px;
    background-color: black;
    float: left;
}

.container .third_line #third_right, .container .fifth_line #fifth_right, .container .sixth_line #sixth_right {
    height: 220px;
    width: 370px;
    margin: 10px 5px 10px 0px;
    /*background-color: black;*/
    float: right;
}

.block_head {
    width: 100%;
    height: 21px;
    font-weight: bold;
    background-color: cornflowerblue;
}

.block_content {
    width: 100%;
    height: 200px;
    background-color: #ffffff;
}

.container .fifth_line #fifth_left, .container .fifth_line #fifth_mid {
    height: 220px;
    width: 300px;
    background-color: black;
    float: left;
    margin: 10px 0px 10px 10px;
}

.container .first_line #multipage #up, .container .first_line #multipage #down {
    height: 160px;
    width: 460px;
    background-color: #000000;
    margin: 0px 0px 5px 5px;
}

.mul_head {
    width: 100%;
    height: 21px;
    background-color: cornflowerblue;
    font-weight: bold;
}

.mul_content {
    height: 140px;
    width: 460px;
    background-color: greenyellow;
}