body {
    background-color: #ffffff;
    font-family: "Microsoft YaHei" !important;
    font-size: 18px;
}

.header {
    background-color: red;
    width: 1080px;
    margin: 0px auto;
}

.header .header_img {
    height: 210px;
    width: 1080px;
}

.header .nav {
    height: 50px;
    width: 1080px;
    background-color: #d7d7d7;
    margin:7px auto;
}

.container {
    background-color: #ffffff;
}

.container .first_line {
    height: 340px;
    width: 1080px;
    margin: 10px auto;
    background-color: red;
}

.container .second_line {
    height: 110px;
    width: 1080px;
    margin: 10px auto;
}

.container .middle_up_line, .container .middle_down_line,.container .third_line, .container .fifth_line, .container .sixth_line{
    height: 350px;
    width: 1080px;
    margin: 10px auto;
    background-color: green;
}
.container .mid_image{
    width: 1080px;
    margin: 5px auto;
}
/*.container .third_line, .container .fifth_line, .container .sixth_line {*/
    /*height: 350px;*/
    /*width: 1080px;*/
    /*border: solid 1px red;*/
    /*margin: 10px auto;*/
    /*background-color: forestgreen;*/
/*}*/

.container .some_links {
    height: 100px;
    width: 1080px;
    margin: 10px auto;
    background-color: red;
}

.footer {
    width: 1080px;
    height: 180px;
    /*border: solid 1px red;*/
    margin: 2px auto;
    background: #ffffff;
}

.container .first_line #img_roll {
    height: 320px;
    width: 550px;
    float: left;
    background-color: #cdcdcd;
    margin:10px;
}

.container .first_line #multipage {
    height: 340px;
    width: 470px;
    float: right;
    background-color: firebrick;
    margin: 0px 5px;
}
.container .third_line #third_left,.container .third_line #third_mid,.container .third_line #third_right{
    height: 350px;
    width: 350px;
    background-color: #000000;
    float: left;
    margin: 0px 5px;
}

.container .middle_up_line #up_left, .container .middle_up_line #up_right, .container .middle_down_line #down_left, .container .middle_down_line #down_right {
    height: 350px;
    width: 530px;
    background-color: #000000;
    float: left;
    margin: 0px 5px;
}

.container .fifth_line #fifth_left, .container .fifth_line #fifth_mid, .container .fifth_line #fifth_right {
    height: 350px;
    width: 350px;
    background-color: #000000;
    float: left;
    margin: 0px 5px;
}

.container .sixth_line #sixth_left,.container .sixth_line #sixth_mid,.container .sixth_line #sixth_right {
    height: 350px;
    width: 350px;
    background-color: #000000;
    float: left;
    margin: 0px 5px;
}

.block_head .my_border {
    float: left;
    background-color: red;
    width: 7px;
    height: 24px;
    margin: 5px 5px 2px 0px;
}

.block_head {
    width: 100%;
    margin: 2px 0px;
    padding: 5px;
    /*height: 30px;*/
    background-color: #ffffff;
    font-weight: bold;
    color: red;
    font-size: 24px;
}
.block_more{
    margin-top: 7px;
    font-size: 18px;
    float: right;
    color: grey;
    font-weight: normal;
}

.block_content {
    width: 100%;
    height: 200px;
    background-color: #ffffff;
}

.container .first_line #multipage #up, .container .first_line #multipage #down {
    height: 160px;
    width: 460px;
    background-color: #000000;
    margin: 0px 0px 5px 5px;
}

.mul_head {
    width: 100%;
    height: 21px;
    background-color: cornflowerblue;
    font-weight: bold;
}

.mul_content {
    height: 140px;
    width: 460px;
    background-color: greenyellow;
}

span.icp {
    font-size: 30px;
}