.footer .site-info {
    width: 1080px;
    margin: 0 auto;
    text-align: center;
    padding: 13px;
    background-color: red;
}

.footer .site-info span {
    padding: 10px;
    color: white;
    font-size: 18px;
    line-height: 30px;
}
.footer .site-info a{
    color: white;
    text-decoration: none;
}
.footer .icon {
    color: white;
    font-size: 20px;
    margin: 20px;
    float: left;
}