.image #left_image {
    width:412px;
    height:309px;
    float: left;
    margin: 5px;
}

.image #right_image {
    height: 310px;
    width: 115px;
    background-color: #444444;
    float: left;
    margin: 5px;
}

.image .small_image {
    /*height: 66px;*/
    /*width: 72px;*/
    float: right;
    margin: 5px 0px;
}

.image .more {
    float: right;
    margin: 5px 10px 10px 0px;
}

.small_image:hover {
    /*height: 66px;*/
    /*width: 88px;*/
    float: right;
    margin: 5px 5px;
}

#left_image #description {
    position: relative;
    margin-top: -27px;
    background-color: rgba(33, 166, 180, 0.8);
}