#container {
    width: 1200px;
    margin: 0 auto;
}
#header {
    width: 1200px;
    background-color: red;
}
#header_pic {
    width: 1200px;
    height: 200px;
    background-color: red;
}
#navigator {
    width: 1200px;
    /*height: 40px;*/
    height: 65px;
    background: white;
}
#welcome {
    width: 1200px;
    height: 30px;
    background: white;
}
#welcome span {
    font-size: 18px;
    line-height: 30px;
    background: red;
}
#welcome .float{
    width:950px;
}
#search {
    float: right;
    width: 250px;
    height: 20px;
    margin-right: 0px;
    margin-top:-27px;
}
#content {
    width: 1200px;
    background: blue;
}
#image_roll {
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 500px;
    height: 300px;
    background: #444444;
}

#news_list {
    display: inline-block;
    *display: inline;
    zoom: 1;
    margin-left: 4px;
    width: 670px;
    height: 300px;
    /*background: yellow;*/
}
#news_list .top_news{
    height: 90px;
    width: 650px;
    margin: 10px auto 0px auto;
    /*padding: 10px;*/
    /*border: solid 1px red;*/
    text-indent: 30px;
    word-break:break-all;
    background-color: yellow;
}
#news_list #detail{
    height: 20px;
    width: 650px;
    margin: 0px auto;
    /*border: solid 1px red;*/
    background-color: yellow;
}
#news_list .normal_news{
    height: 45px;
    width: 660px;
    margin: 10px auto;
    background-color: yellow;
}

#middle_links {
    margin-top: 10px;
    width: 1200px;
    height: 250px;
    background: green;
}
#middle_2 {
    margin: 0 auto 10px auto;
}

.content_block_1 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 380px;
    height: 200px;
    margin: 8px 3px 0 4px;
   /* margin: 8px 0px 0px 10px;*/
}
.block_1_header {
    width: 380px;
    height: 30px;
    background: red;
    text-align: left;
}
.block_1_content{
    height: 170px;
    width: 380px;
    background: yellow;
}
/*.block_1_content a{*/
    /*text-decoration: none;*/
/*}*/
.content_1_content{
    height: 160px;
    width: 380px;
    background-color: #3d31ff;
}
.content_2_content{
    height: 95px;
    width: 380px;
    background-color: #3d31ff;
}
.Title_text {
    line-height: 30px;
    float: left;
}
.more {
    float: right;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
}
#middle_left {
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 790px;
    height: 400px;
    margin-right: 6px;
    background: green;
}
#middle_left #left_part, #middle_left #right_part {
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 380px;
    height: 390px;
    background:yellow;
    margin: 1px 5px;
}
#middle_left .big_content {
    width: 380px;
    height: 190px;
    background: blue;
    margin: 2px 0px;
}
#middle_left .small_content {
    width: 380px;
    height: 125px;
    background: blue;
    margin: 3px 0;
}
.content_header {
    width: 380px;
    height: 30px;
    background: red;
}
#middle_right {
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 380px;
    height: 400px;
    background: green;
}
.right_content{
    height: 370px;
    width: 380px;
}
#spec_info, #leader_mail, #branch_links {
    background: yellow;
    width: 380px;
    margin: 5px 0;
}
.right_header {
    width: 380px;
    height: 30px;
    background: red;
}
#spec_info {
    height: 150px;
}
#leader_mail {
    height: 80px;
    background: gray;
}
#branch_links {
    height: 150px;
}
#footer {
    width: 1200px;
    height: 120px;
    background: #2C6787 ;
    margin-top: 8px;
}